* {
    box-sizing: border-box;
}


/* Scroll Animation */

#reveal1,
#reveal2,
#reveal3 {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#reveal1.visible,
#reveal2.visible,
#reveal3.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}


/* ************************** */

body,
html {
    height: 100%;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.background {
    background-image: url('../images/mainbackground.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1400px) {
    .parallax {
        background-attachment: scroll;
    }
}


/* SiteLogo */

.SiteLogo-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SiteLogo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.SiteLogo {
    width: 650px;
    font-size: 112px;
    font-family: Ink Free;
    border-style: solid;
    text-align: center;
}


/* Good quality in phone mode for the logo */

@media only screen and (max-device-width: 678px) {
    .SiteLogo {
        font-size: 60px;
        width: 300px;
    }
    .actions-buttons {
        flex-direction: column;
        justify-content: center;
    }
}


/* Logo buttons */

.actions-buttons {
    display: flex;
    justify-content: center;
}

.SiteLogo p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.Buttons {
    display: inline-block;
    border-radius: 4px;
    background: #99cee0;
    border: none;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Verdana;
    padding: 20px;
    margin-top: 15px;
    margin-right: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.Buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.Buttons span:after {
    content: '\2193';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.Buttons:hover span {
    padding-right: 25px;
}

.Buttons:hover span:after {
    opacity: 1;
    right: 0;
}

a:visited,
a:active,
a:link {
    color: white;
}


/* Graph buttons */

.dailybutton,
.weeklybutton,
.monthlybutton {
    color: #fff;
    font-family: Verdana;
    text-transform: uppercase;
    text-decoration: none;
    background: #99cee0;
    padding: 13px;
    margin-right: 5px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.dailybutton:hover,
.weeklybutton:hover,
.monthlybutton:hover {
    background: #1f39ac;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

#GraphsDaily,
#GraphsWeekly,
#GraphsMonthly {
    margin-top: 10px;
}


/* Info box */

.moreinfo {
    font-size: 18px;
    background-color: rgb(226, 237, 248);
    margin-top: 50px;
}

ul.infolist li::before {
    content: "- ";
}

ul.infolist {
    list-style-type: none;
    margin-bottom: 0px;
    padding-bottom: 12px;
}

#accordion {
    padding-bottom: 86px;
    padding-right: 23%;
    padding-left: 23%;
}

div#reveal2 p {
    border-top: 1px solid silver;
}

div#reveal2 {
    width: 50%;
}

.footnote {
    border-top: 1px solid silver;
    margin-top: 12px;
    padding-top: 4px;
}

.footnote p {
    margin: 1px;
    padding: 1px;
    font-size: 8pt;
    color: silver;
}

.infolist li:last-child {
    font-weight: bold;
}